$NAVY_BLUE_ORIGIN: #2d3f86;
$NAVY_BLUE_SOFT: #dee5fe;
$NAVY_BLUE_LIGHT: #7792fb;
$NAVY_BLUE_BRIGHT: #4767e1;
$NAVY_BLUE_DARK: #1b2a66;

$GOLD_LIGHT: #facc65;
$GOLD_BRIGHT: #c6984e;
$GOLD_ORIGIN: #bf7e3e;
$GOLD_DEEP: #b75147;
$RED_ORIGIN: #f60303;

$BLUE_SOFT: #f3fbff;
$BLUE_LIGHT: #d4f0ff;
$BLUE_BRIGHT_1: #6ccaff;
$BLUE_BRIGHT_2: #65baea;
$BLUE_ORIGIN_1: #00a3ff;
$BLUE_ORIGIN_2: #0395e8;
$BLUE_DARK_1: #0082cc;
$BLUE_DARK_2: #0372b0;

$GREEN_LIGHT: #dcffe4;
$GREEN_ORIGIN: #00e033;
$GREEN_DARK: #02c92f;

$GRAY_LIGHT_1: #fafafa;
$GRAY_LIGHT_2: #f9f9f9;
$GRAY_LIGHT_3: #f5f5f5;
$GRAY_LIGHT_4: #f0f0f0;
$GRAY_LIGHT_5: #ebebeb;

$GRAY_BRIGHT_1: #c4c4c4;
$GRAY_BRIGHT_2: #cccccc;
$GRAY_BRIGHT_3: #aaaaaa;

$GRAY_ORIGIN_1: #999999;
$GRAY_ORIGIN_2: #878787;
$GRAY_ORIGIN_3: #777777;

$GRAY_STRONG_1: #666666;
$GRAY_STRONG_2: #555555;
$GRAY_STRONG_3: #444444;

$WHITE: #ffffff;
$BLACK: #000000;
$DEFAULT_TEXT: #202020;

$BOX_SHADOW: rgba(0, 0, 0, 0.24);
